<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-Shortener-project</title>
</head>

<body>
    <div class="container">
        <h1>Url-shortener-project</h1>
        <form action="">
            <label for="longUrl">Enter the URL:</label>
            <input type="text" id="longUrl" name="longUrl" placeholder="Enter the URL to shorten" required>
            <button type="submit">Shorten</button>
        </form>
        <% if (shortenedUrl) { %>
            <p>Shortened URL: <a href="<%= shortenedUrl %>" target="_blank">
                    <%= shortenedUrl %>
                </a></p>
            <% } %>
    </div>
</body>

</html>